{% block titulo %}
    Lista de Ventas
{% endblock titulo %}

{% block contenido %}
    <h2>Lista de Ventas</h2>
    
    <a href="{% url 'Varillas:index' %}">Volver al Inicio</a>
    <a href="{% url 'Calculo:lista_presupuestos' %}">Volver a la Lista de Presupuestos</a>
    
    <form method="get" action=".">
        <input type="text" name="q" value="{{ query }}" placeholder="Buscar por nombre y apellido">
        <button type="submit">Buscar</button>
    </form>

    {% for venta in ventas %}
        <div>
            <h3>Venta Número: {{ venta.nombre }}</h3>
            <p>Vendedor: {{ venta.vendedor.nombre }} | Cliente: {{ venta.cliente.nombre }} {{ venta.cliente.apellido }} | Contacto: {{ venta.cliente.contacto }} </p>
            <p>Detalle: Varilla: {{ venta.varilla.nombre }} | Material: {{ venta.material.nombre }} | Color: {{ venta.color.nombre }}</p>
            <p>Total: ${{ venta.total_con_impuesto|floatformat:2 }}</p>
        </div>
    {% endfor %}
{% endblock contenido %}